@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&family=IBM+Plex+Sans+Arabic:wght@300;400&display=swap');

#all {
    display: flex;
    justify-content: left;
    background: white;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
		max-width: 80%;
		margin: 0px auto;
}

#title{
	display: flex;
	justify-content: left;
	max-height: 150px;
	margin: 20px;
	width: 100%;
	font-size: 80px;
	color: #904B33;
	font-family: 'Chakra Petch', sans-serif;
}
#title>text>span{
	color: #71A334;
}
#all>div>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#all>div>div:last-child{
    display: flex;
    flex-flow: row;
    justify-content: center;
		align-items: center;
}

.aps{
    height: 228px;
    width: 100%;
    display: flex;
    flex-direction: row;
		justify-content: space-around;
		font-family: 'IBM Plex Sans Arabic', sans-serif;
		border: 0px;
			margin: 14px 6px;
			border-radius: 0.6rem;
			transition: box-shadow 300ms;
			box-shadow: 0.2rem 0.3rem 0.6rem #bbbbbb;
			-webkit-transition: box-shadow 300ms;
			-moz-transition: box-shadow 300ms;
			transition-property: box-shadow;
			transition-duration: 300ms;
			transition-timing-function: ease;
			transition-delay: 0s;
			-ms-transition: box-shadow 300ms;
			-o-transition: box-shadow 300ms;
}

#baseImg{
    margin: 15px;
		max-height: 200px;
}

.fotoCarr{
    display: flex;
    height: 167px;
    width: 250px;
    margin: 15px;
    overflow: clip;
		justify-content: center;
}

.fotSel {
	display: none;
}

.fotSel:first-child {
	display: flex;
}

.infos{
    width: auto;
    height: auto;
		line-height: 22px;
    margin: 4px;
}

.infos>span{
	color: gray;
}

.descS{
    margin: 15px;
    padding: 0px 25px;
    text-align: justify;
		max-width: 624px;
}
.hide{
    display: none;
}
